<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <body>
          <form action="product" method="post">
                <input type="hidden" name="action" value="update">
                <h1>Product</h1><br>
                <label>Product Code:</label>
                <input type="text" name="code" required><br>
                <label>Product Description:</label>
                <input type="text" name="description" required><br>
                <label>Product price:</label>
                <input type="text" name="price" required><br>
                <label>&nbsp;</label>
                <input type="submit" value="Update Product" id="submit">
            </form>
        <form action="return" method="post">
            <input type="hidden" name="action" value="product">
            <input type="submit" value="View Product">
        </form>
    </body>
</html>