<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <body>
        <h1>
            Products
        </h1><br>
        <form method="POST">
        <table cellpadding="2" border="1">
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <div class="table" id="products">
            	<div  th:each="product : ${products}">
                	<tr valign="top">
                    	<td><span th:text="${product.code}"></span></td>
                    	<td><span th:text="${product.description}"></span></td>
                    	<td><span th:text="${product.price}"></span></td>
                    	<td><a th:href="@{/editProduct/edit(editCode=${product.code},editDescription=${product.description},editPrice=${product.price})}" >Edit</a></td>
                    	<td><a th:href="@{/deleteProduct/delete(deleteCode=${product.code},deleteDescription=${product.description},deletePrice=${product.price})}" >Delete</td>
                	</tr>
            	</div >
            </div>
        </table><br>
        	<input type="hidden" name="action" value="add">
            <input type="submit" value="Add Product">
        </form>
    </body>
</html>
